body {
  /* overflow-x: hidden; */
  /* padding-left: 30px; */
}
.header {
  font-size: 4em;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.NC {
  color: red;
}
.btn {
  position: absolute;
  top: 30em;
}

.category-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.sell-btn {
  width: 8em;
  height: 3em;
  border: none;
  border-radius: 5px;
  background-color: rgb(107, 227, 111);
}

.category-btn {
  width: 7em;
  height: 3em;
  border: none;
  border-radius: 5px;
}

.category-btn:hover {
  background-color: rgb(100, 100, 243);
  color: white;
}
.category-btn:focus {
  background-color: rgb(255, 0, 0);
  color: white;
}

.form-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root > form > div.formControl-0-2-25.rfc-form-control.image-upload > div {
  max-width: 100%;
  text-align: center;
  background-color: #f3f3f2f3;
}
